.premium-aurora-text {
    font-weight: 800;
    background: linear-gradient(to right, #007cf0, #00dfd8, #7d2ae8, #ff0080, #007cf0);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora-flow 8s linear infinite;
}

@keyframes aurora-flow {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}