.ui-input {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid hsl(var(--input));
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    transition:
        border-color 0.2s,
        ring 0.2s;
    color: hsl(var(--foreground));
}

.ui-input::placeholder {
    color: hsl(var(--muted-foreground));
}

.ui-input:focus {
    outline: none;
    border-color: hsl(var(--ring));
    box-shadow: 0 0 0 2px hsl(var(--ring) / 0.2);
}